# Gradle temporary files and build artifacts
.gradle/
build/

# IntelliJ IDEA settings (local to your machine)
.idea/
*.iws
*.iml
*.ipr
out/

# macOS system files
.DS_Store

# Miscellaneous junk
.Rhistory
